*{
padding: 0%;
margin: 0%;
background-color:aqua;

}




/* .root{
display: flex;
justify-content: center;

} */


.root{
    display: flex;
  height: 100vh;
    flex-wrap: wrap;
  gap: 30px;
    
}



  


